<!doctype html>
<html>
<title>Notes App</title>
<head>

  </head>
  <body>
      <h1>Your list is:</h1>
      <ol>
        <li>
          <% for(let i=0; i < q.s.length; i++) { %>
        <li>
          <%= q.s[i].activity %>
        </li>
        <%}%>
        </li>
      </ol>
  </body>
</html>
